{% extends 'template1.html.twig' %}

{% block title %}New Famille{% endblock %}

{% block body %}
    <div class="container">
    <div class="panel panel-primary">
    <div class="panel-heading">
    <i ></i><h2>Create new famille</h2>
</div>
<div class="panel-body"> 

    {{ include('famille/_form.html.twig') }}
    <a href="{{ path('famille_index') }}" >back to list</a>
    </div>
    </div>
    </div>
{% endblock %}