{% extends 'template1.html.twig' %}

{% block title %}Famille{% endblock %}

{% block body %}
    <div class="container">
    <div class="panel panel-primary">
    <div class="panel-heading">
    <i ></i><h2>Famille</h2>
</div>
<div class="panel-body"> 

    <table class="table">
    <thead class="thead-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ famille.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ famille.libelle }}</td>
            </tr>
        </tbody>
        </thead>
    </table>

    <a href="{{ path('famille_index') }}">back to list</a>

    

    
    </div>
    </div>
    </div>
{% endblock %}