{% extends 'template1.html.twig' %}

{% block title %}New Fournisseur{% endblock %}

{% block body %}
    <div class="container">
    <div class="panel panel-primary">
    <div class="panel-heading">
    <i ></i><h2>Create new fournisseur</h2>
</div>
<div class="panel-body"> 

    {{ include('fournisseur/_form.html.twig') }}

    <a href="{{ path('fournisseur_index') }}">back to list</a>
    </div>
    </div>
    </div>
{% endblock %}